footer
	span#name=App.title
	|&nbsp;&middot;&nbsp;
	span#version v.#{App.version}
	|&nbsp;&middot;&nbsp;
	a(href="http://silvalexandre.com" title="Alexandre Silva" target="_blank" rel="noopener") Alexandre Silva

script(src="//192.168.0.100:35729/livereload.js")
