doctype
html(lang="pt-br")
	head
		include default/header.pug
		link(rel="stylesheet" href="css/home.css" media="all")
		title=Site.title + ' | Home'
	body(data-ng-app="backApp")
		include default/navbar.pug
		main(role="main" data-ng-controller="backCtrl as back")
			h1 Home
		//- script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js")
		//- script(src="js/app.js")
